body {
  font-family: Arial, Tahoma;
  height: 300vh;
}
.up {
  color: white;
  background-color: red;
  bottom: 15px;
  right: -40px;
  position: fixed;
  font-size: 20px;
  font-weight: bold;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.show {
  right: 15px;
}
